:root {
    --red-color: #FE0000;
    --orange-color: #F27121;
    --yellow-color: #ECE14C;
    --green-color: #25A769;
    --title-color: #ECE14C;
    --description-color: #535353;
    --border-color: #CECECE;
}